.header {
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(black, transparent, black), url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAH0lEQVQYV2NkwAIYkcT+MzAwgPkwQZAADDDiVYliMgCekAMGwsLv2QAAAABJRU5ErkJggg=='), url('./media/sfondo1.jpg');
    background-size: 100%, 4px 4px, 100%;
    background-position: center;
    background-repeat: no-repeat, repeat,no-repeat;
  }

  body{
      background-color: black;
  }
  :root{
      --main-color: #1364AC;
      --accent-color: #F7DF09;
  }

  .text-main{
      color: var(--main-color);

  }

  .text-accent{
      color: var(--accent-color);
  }

  .bg-main{
      background-color: var(--main-color);
  }
  .bg-accent{
      background-color: var(--accent-color);
  }

  *{
    font-family: 'Orbitron', sans-serif;
  }

  .space{
    height: 100vh;
    min-height: 500px;
    background: linear-gradient(black 5%, transparent, black 95%), url('./media/galassia.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .btn-accent{
      background: 
        linear-gradient(to right, var(--accent-color)2px, transparent 2px) 0 0,
        linear-gradient(to right, var(--accent-color)2px, transparent 2px) 0 100%,
        linear-gradient(to left, var(--accent-color)2px, transparent 2px) 100% 0,
        linear-gradient(to left, var(--accent-color)2px, transparent 2px) 100% 100%,
        linear-gradient(to bottom, var(--accent-color)2px, transparent 2px) 0 0,
        linear-gradient(to bottom, var(--accent-color)2px, transparent 2px) 100% 0,
        linear-gradient(to top, var(--accent-color)2px, transparent 2px) 0 100%,
        linear-gradient(to top, var(--accent-color)2px, transparent 2px) 100% 100%;
      background-repeat: no-repeat;
      background-size: 10px 10px;
      transition: 0.5s;
  }
  .btn-accent:hover{
      letter-spacing: 3px;
  }

  .card-space{
      flex-shrink: 0;
      height: 320px;
      width: 280px;
      clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
      
  }
  
  .bg-slide{
      background-size: cover;
      background-position: center;
      border-bottom: 4px solid var(--accent-color);
      
  }

  .bg-slide-1{
      background: url("https:picsum.photos/349");
      background-position: center;
  }

  .bg-slide-2{
    background: url("https:picsum.photos/350");
    background-position: center;
}

.bg-slide-3{
    background: url("https:picsum.photos/352");
    background-position: center;
}

.bg-slide-4{
    background: url("https:picsum.photos/353");
    background-position: center;
}

.bg-slide-5{
    background: url("https:picsum.photos/354");
    background-position: center;
}

.bg-slide::after { 
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0px;
    top: -100%;
    background-color: rgba(0,0,0,0.5);
    transition: 0.7s;
}

.bg-slide:hover::after{
    top: 0%;
}

.card-inner {
    position: absolute;
    bottom: -50px;
    left: 30px;
    transition: 1s;
    opacity: 0;
    z-index: 20;
    color: white;
    width: 100%;
}

.bg-slide:hover .card-inner{
    bottom: 5px;
    opacity: 1;
}




@media screen and (max-width: 1800px) {
    .scroll{
        overflow-x: scroll;
    }
    
  }
